body {
  background: #d1dbe1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
a {
  color: #96b6c5;
}
.my-weather-app {
  display: block;
  margin: 60px auto;
  padding: 20px;
  background-color: #f1f0e8;
  max-width: 600px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-city-input {
  background-color: #d1dbe1;
  border: none;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.6);
  width: 80%;
  padding: 15px;
  font-size: 16px;
}
.search-city-button {
  background-color: #96b6c5;
  border: none;
  border-radius: 6px;
  padding: 15px;
  width: 100px;
  color: #f1f0e8;
  font-size: 16px;
  margin-left: 10px;
}

main {
  padding: 30px 0;
}

.weather-data-app {
  display: flex;
  justify-content: space-between;
}
.weather-city {
  color: rgb(73, 72, 72);
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 24px;
  font-weight: 500;
}
.weather-details strong {
  color: #96b6c5;
}
.currrent-temperature-container {
  display: flex;
}
.icon {
  width: 88px;
  height: 88px;
}
.current-temperature {
  color: rgb(73, 72, 72);
  font-size: 70px;
  font-weight: bold;
  margin-left: 10px;
}
.unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-day {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 78px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  color: #96b6c5;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 3px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
